@font-face {
	font-family: 'GothamPro-Bold';
	src: url('../fonts/GothamPro/GothamPro-Bold/GothamPro-Bold.eot?') format('eot'), 
	     url('../fonts/GothamPro/GothamPro-Bold/GothamPro-Bold.otf')  format('opentype'),
	     url('../fonts/GothamPro/GothamPro-Bold/GothamPro-Bold.woff') format('woff'), 
	     url('../fonts/GothamPro/GothamPro-Bold/GothamPro-Bold.ttf')  format('truetype'),
	     url('../fonts/GothamPro/GothamPro-Bold/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
}

h1{
	color:#fff;
	font-size: 50px;
	text-transform: uppercase;
}

h2{
	color:#868686;
	font-size: 28px;
	text-transform: uppercase;
	display: block;
	text-align: center;
	height: 1.5em;
}

.wrap{
	margin:0 auto;
	width:940px;
}

.clearfix::after{
	clear:both;
	content:"";
	display:block;
}

.valign-after::after{
	content:'';
	display: inline-block;
	height:100%;
	vertical-align: middle;
}

.valign-after > *{
	display: inline-block;
	vertical-align: middle;
}

.valign-translate > *{
	position: relative;
	top:50%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.button {
	border:solid 2px #fc645f;
	height: 56px;
	width:205px;
	border-radius: 5px;
	margin: 48px auto 0;
	color:#fc645f;
	display: inline-block;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;

}

.button:hover{
	background-color: #fc645f;
	color:#ffffff;
}

.clients{
	background-image: url("../img/header_background.jpg");
	background-repeat: no-repeat;
	background-size:cover;
}

.header{
	height: 68px;
	padding-top:22px;
	font-size:0;
}

.logo_img{
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
	height:68px;
	width:59px;
}

.logo_text{
	color:#fff;
	font-size: 24px;
	font-weight: bold;
	font-family: 'GothamPro-Bold';
	padding-left: 16px;
}

.menu{
	display:inline-block;
	float:right;
	height: 100%;
}

.menu-item{
	margin-left:50px;
	text-transform: uppercase;
	font-size: 18px;
	padding: 5px 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
    position: relative;
}

.menu-item:hover {
	color:#fc645f;
} 

.menu-item:hover::after{
	content: '';
	display: block;
	width:100%;
	height: 4px;
	background-color: #fc645f;
	position: absolute;
	bottom:-.25em;
	left:0;
}

.middle{
	text-align: center;
	margin-top: 192px;
	background: url('../img/mouse.png') no-repeat 75% bottom;
	padding-bottom: 27px; 
}

.heading::before{
	content:"";
	width:107px;
	height:8px;
	background-color:#4e4d4d;
	display:inline-block;
}

.heading::after{
	content:"";
	width:107px;
	height:8px;
	background-color:#4e4d4d;
	display:inline-block;
}

.heading h1{
	display:inline-block;
}

.red{
	color:#fc645f;
}

.under_heading {
	color:#fff;
	font-size:24px;
	margin-top: 30px;
	display:block;
}

.arrow {
	margin-top: 240px;
	background: url('../img/arrow.png') no-repeat center top;
	height: 28px;
}

.advantages{
	position:relative;
	padding-top:68px;
	padding-bottom: 15px;
}

.text{
	width: 521px;
	display: block;
	margin: 20px auto 86px;
	text-align: center;
	color:#adadad;
	line-height: 26px;
	
}

h2 > span{
	position: relative;
}

h2 > span::after{
	content:"";
	width:100%;
	height:1px;
	background-color:#adadad;
	display:block;
	position: absolute;
	bottom: -.25em;
	left:0;
}

.icons-item{
	float:left;
	width:25%;
	text-align: center;
	padding:0 10px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.icons-item .hexagon{
	width:101px;
	height: 116px;
	background-image: url('../img/spritesheet_01.png');
	display: inline-block;
}

.hexagon-icon{
	background-image: url('../img/spritesheet_02.png');
	width:40px;
	height:40px;
}

.advantages h3{
	font-size: 20px;
	text-transform: uppercase;
	color:#868686;
	margin-top:22px;
}

h3 > span{
	position: relative;
}

h3 > span::after{
	content:"";
	width:100%;
	height:1px;
	background-color:#adadad;
	display:block;
	position: absolute;
	bottom: -.25em;
	left:0;
}

.icons-info{
	font-size: 15px;
	color:#adadad;
	margin-top: 22px;
	display: inline-block;
	line-height: 18px;
}

.advantages .arrow{
	background: url('../img/arrow_white.png') no-repeat center top;
	margin-top:52px;
}

.business{
	background-image: url("../img/business_bgr.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	padding-top:90px;
	padding-bottom:20px;
}

.rect{
	width:100%;
	height:200px;
	border:solid 10px #fff {0,1};
}
/*
.hexagon {
	width: 100px;
	height: 55px;
	background: #fc635e;
	position: relative;
	display: inline-block;
}
.hexagon:before {
	content: "";
	position: absolute;
	top: -25px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid #fc635e;
}
.hexagon:after {
	content: "";
	position: absolute;
	bottom: -25px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid #fc635e;
}

.hexagon2 {
	width: 96px;
	height: 52.8px;
	background: blue;
	position: relative;
	display: inline-block;
}
.hexagon2:before {
	content: "";
	position: absolute;
	top: -24px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 48px solid transparent;
	border-right: 48px solid transparent;
	border-bottom: 24px solid blue;
}
.hexagon2:after {
	content: "";
	position: absolute;
	bottom: -24px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 48px solid transparent;
	border-right: 48px solid transparent;
	border-top: 24px solid blue;
}*/
/*
.hexagon{
	position: relative;
}

.hexagon > div{
	
	height:50%;
	width:50%;
	position: absolute;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.hexagon > div::before{
	content: '';
	display: block;
	height:1px;
	width:100%;
	position: absolute;
	background-color: red;
}

.hexagon :first-child{
	transform: rotate(30deg);
	top:7.2%; 
	right:7.2%;  
}

.hexagon :nth-child(2){
	transform: rotate(90deg); 
	right:0;
	top:21.6%;
}

.hexagon :nth-child(3){
	transform: rotate(150deg); 
	right:7.2%; 
	bottom:0;
}

.hexagon :nth-child(4){
	transform: rotate(210deg);  
}

.hexagon :nth-child(5){
	transform: rotate(270deg);  
}

.hexagon :last-child{
	transform: rotate(330deg);  
}

.hexagon .content{
	position: absolute;
	width:100%;
	top:0;
	bottom:0;
}

.hexagon-100{
	height:100px;
	width:100px;	
}

.hexagon-200{
	height:200px;
	width:200px;	
}*/