@font-face {
	font-family: 'GothamPro-Bold';
	src: url('../fonts/GothamPro/GothamPro-Bold/GothamPro-Bold.eot?') format('eot'), 
	     url('../fonts/GothamPro/GothamPro-Bold/GothamPro-Bold.otf')  format('opentype'),
	     url('../fonts/GothamPro/GothamPro-Bold/GothamPro-Bold.woff') format('woff'), 
	     url('../fonts/GothamPro/GothamPro-Bold/GothamPro-Bold.ttf')  format('truetype'),
	     url('../fonts/GothamPro/GothamPro-Bold/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
}

body{
	font-family: Lato;
}
h1{
	color:#fff;
	font-size: 50px;
	font-weight:700;
	text-transform: uppercase;
}

h2{
	color:#868686;
	font-size: 28px;
	font-weight:700;
	text-transform: uppercase;
	display: block;
	text-align: center;
}

.wrap{
	height: 100%;
	margin:0 auto;
	width:940px;
}

.clearfix::after{
	clear:both;
	content:"";
	display:block;
}

.valign-after::after{
	content:'';
	display: inline-block;
	height:100%;
	vertical-align: middle;
}

.valign-after > *{
	display: inline-block;
	vertical-align: middle;
}

.valign-translate > *{
	position: relative;
	top:50%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.button {
	border:solid 2px #fc645f;
	height: 56px;
	width:205px;
	border-radius: 5px;
	margin:0 auto;
	color:#fc645f;
	font-family: Lato;
	text-align:center;
	display: inline-block;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;

}

.button:hover{
	background-color: #fc645f;
	color:#ffffff;
}


.clients{
	background-image: url("../img/header_background.jpg");
	background-repeat: no-repeat;
	background-size:cover;
}

.header{
	height: 68px;
	padding-top:22px;
	font-size:0;
}

.logo_img{
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
	height:68px;
	width:59px;
}

.logo_text{
	color:#fff;
	font-size: 24px;
	font-weight: bold;
	font-family: 'GothamPro-Bold';
	padding-left: 16px;
}

.menu{
	display:inline-block;
	float:right;
	height: 100%;
}

.menu-item{
	margin-left:50px;
	text-transform: uppercase;
	font-family: Lato;
	font-size: 18px;
	padding: 5px 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
    position: relative;
}

.menu-item:hover {
	color:#fc645f;
} 

.menu-item:hover::after{
	content: '';
	display: block;
	width:100%;
	height: 4px;
	background-color: #fc645f;
	position: absolute;
	bottom:-.25em;
	left:0;
}

.middle{
	text-align: center;
	margin-top: 192px;
	background: url('../img/mouse.png') no-repeat 75% bottom;
	padding-bottom: 27px; 
}

.heading::before{
	content:"";
	width:107px;
	height:8px;
	background-color:#4e4d4d;
	display:inline-block;
}

.heading::after{
	content:"";
	width:107px;
	height:8px;
	background-color:#4e4d4d;
	display:inline-block;
}

.heading h1{
	display:inline-block;
}

.red{
	color:#fc645f;
}

.clients .button{
	margin-top:48px;
}
.under_heading {
	color:#fff;
	font-size:24px;
	margin-top: 30px;
	display:block;
}

.arrow {
	background: url('../img/arrow.png') no-repeat center top;
	height: 28px;
}

.arrow-white{
	background: url('../img/arrow_white.png') no-repeat center top;
	height: 28px;
}
.clients .arrow{
	margin-top:234px;
}

.advantages{
	position:relative;
	padding-top:68px;
	padding-bottom: 15px;
}

.text{
	width: 55.43%;
	display: block;
	margin: 20px auto 86px;
	text-align: center;
	color:#adadad;
	font-size: 20px;
	line-height: 26px;
	
}

h2 > span{
	position: relative;
}

h2 > span::after{
	content:"";
	width:100%;
	height:1px;
	background-color:#adadad;
	display:block;
	position: absolute;
	bottom: -.25em;
	left:0;
}

.icons-item{
	float:left;
	width:25%;
	text-align: center;
	padding:0 10px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.icons-item .hexagon{
	width:101px;
	height: 116px;
	background-image: url('../img/spritesheet_01.png');
	display: inline-block;
}

.icons-item .hexagon:hover{
	background-position: -100px center;
	cursor:pointer;
}

.hexagon-icon{
	width:41px;
	height:38px;
	display:inline-block;
	background-repeat:no-repeat;
}

.icons-item:first-child .hexagon-icon{
	background-image: url('../img/clients.png');
}

.icons-item:first-child .hexagon:hover .hexagon-icon{
	background-image: url('../img/clients_red.png');
}

.icons-item:nth-child(2) .hexagon-icon{
	background-image: url('../img/branding.png');
}

.icons-item:nth-child(2) .hexagon:hover .hexagon-icon{
	background-image: url('../img/branding_red.png');
}

.icons-item:nth-child(3) .hexagon-icon{
	background-image: url('../img/marketing.png');
}

.icons-item:nth-child(3)  .hexagon:hover .hexagon-icon{
	background-image: url('../img/marketing_red.png');
}

.icons-item:last-child .hexagon-icon{
	background-image: url('../img/adv.png');
}

.icons-item:last-child .hexagon:hover .hexagon-icon{
	background-image: url('../img/adv_red.png');
}

.advantages h3{
	font-size: 20px;
	text-transform: uppercase;
	color:#868686;
	margin-top:22px;
}

h3 > span{
	position: relative;
}

h3 > span::after{
	content:"";
	width:100%;
	height:1px;
	background-color:#adadad;
	display:block;
	position: absolute;
	bottom: -.25em;
	left:0;
}

.info{
	font-size: 15px;
	color:#adadad;
	display: inline-block;
	line-height: 18px;
}

.icons .info{
	margin-top: 22px;
}

.advantages .arrow-white{
	margin-top:52px;
}

.business{
	background-image: url("../img/business_bgr.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	padding-top:90px;
	padding-bottom:20px;
}

.business h1{
	text-align:center;
	padding-top: 124px;
}
.rect{
	width:100%;
	border:solid 10px rgba(255, 255, 255, .102);
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.rect a{
	display:block;
	margin:0 auto;
	text-align:center;
	margin-top: 50px;
	margin-bottom: 98px;
}

.business .arrow{
	margin-top: 52px;
}

.process{
	padding-bottom: 22px;
}

.process h2{
	padding-top: 50px;
}

.process .steps{
	position:relative;
	height: 500px;
	margin-bottom:75px;
}

.process .step{
	position:absolute;
	text-align: center;
}

.process .step_1{
	background-image: url("../img/step_1.png");
	width:174px;
	height:201px;
	top:99px;
	left:82px;
}

.process .step_2{
	background-image: url("../img/step_2.png");
	width:174px;
	height:201px;
	top:151px;
	left:346px;
}

.process .step_3{
	background-image: url("../img/step_3.png");
	width:174px;
	height:201px;
	top:0;
	left:432px;
}

.process .step_4{
	background-image: url("../img/step_4.png");
	width:262px;
	height:302px;
	top:72px;
	left:604px;
}

.process .step_5{
	background-image: url("../img/step_5.png");
	width:264px;
	height:302px;
	top:248px;
	left:124px;
}

.process .circle{
	position:absolute;
}

.process .step .circle{
	top:0;
	transform:translate(-50%, 75%);
}

.process .step_4 .circle:nth-of-type(1){
	transform:translate(-50%, 150%);
}

.process .step_4 .circle:nth-of-type(2){
	bottom:0;
	left:50%;
	top:auto;
	transform:translate(-50%, 50%);
}

.process .step h2{
	font-size: 24px;
	line-height: 26px;
}

.process .step h2 > span::after{
	bottom: -.1em;
}

.process .step .description{
	font-size: 15px;
	font-weight: 300;
	line-height: 17px;
	color:#adadad;
	width:77%;
	margin:1em auto 0;
	text-align: left;	
}


.whatwedo{
	background-color:#f2f2f2;
	padding-top: 62px;
	padding-bottom:18px;
}

.landing{
	margin-top:68px;
}

.whatwedo_content{
	margin-top:92px;
}

.landingpages{
	float:left;
	width:40%;
}

.whatwedo_pic{
	float:left;
	width:60%;
}
.border-left{
	margin-bottom:20px;
	text-align:left;
	border-left:solid 10px #fc635e;
	padding-left:12px;
}

.info{
	line-height:24px;
}

.whatwedo .button{
	background-color:#fc635e;
	color:#f2f2f2;
	margin-top:44px;
}

.whatwedo .button:hover{
	border:solid 2px #fc645f;
	color:#fc645f;
	background-color:transparent;
}
.whatwedo .arrow-white{
	margin-top:51px;
}

.advertising{
	padding-top:135px;
	padding-bottom:16px;
}

.advertising_pic{
	float:left;
	width:60%;
}

.advertising_text{
	float:left;
	width:40%;
}

.border-right{
	margin-bottom:20px;
	text-align:right;
	border-right:solid 10px #fc635e;
	padding-right:12px;
}

.advertising .info{
	text-align: right;
}

.advertising .button{
	color:#f2f2f2;
	background-color:#fc635e;
	margin-top:40px;
	float:right;
}

.advertising .button:hover{
	border:solid 2px #fc645f;
	color:#fc645f;
	background-color:transparent;
}

.advertising .arrow-white{
	margin-top:110px;
}


.marketing{
	background-color: #f2f2f2;
	padding-top:138px;
	padding-bottom:16px;
}

.marketing_text{
	float:left;
	width:40%;
}

.marketing_pic{
	float:left;
	width:60%;
}

.marketing .button{
	margin-top:42px;
	color:#f2f2f2;
	background-color:#fc635e;
}

.marketing .button:hover{
	border:solid 2px #fc645f;
	color:#fc645f;
	background-color:transparent;
}


.marketing .arrow-white{
	margin-top:138px;
}

.portfolio{
	padding-top:80px;
	padding-bottom:14px;
}

.portfolio-menu{
	margin-top:40px;
	border-top:solid 1px #868686;
	border-bottom:solid 1px #868686;
	display:block;
	height:62px;
	margin-bottom:48px;
}

.portfolio-menu-item{
	float:left;
	font-size:18px;
	text-transform:uppercase;
	color:#fc635e;
	padding:0 14px;
}

.portfolio-menu-item span:not(.slash):hover{
	cursor:pointer;
	text-decoration: underline;
}


.slash{
	color:#868686;
	padding:0 44px;
}

.gallery-row{
	margin-bottom:12px;
}

.gallery-item{
	float:left;
	padding:0 6px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.gallery-item:first-child{
	padding-left:0;
}

.gallery-item:last-child{
	padding-right:0;
}

.gallery-item .img-container{
	cursor: pointer;
	position: relative;
}

.gallery-item:hover .img-container::before,
.gallery-item:hover .img-container::after{
	content:"";
	display:block;
	height: 100%;
	position: absolute;
	width: 100%;
	top:0;
}

.gallery-item:hover .img-container::before{
	background-color:#fc635e;
	opacity:0.7;
}

.gallery-item:hover .img-container::after{
	background:url("../img/cross.png") no-repeat center;
}

.gallery-item-title{
	position:absolute;
	font-size: 2em;
	text-transform: uppercase;
	top: 0;
	left: 0;
	color: #fff;
	z-index: 1;
	padding: .5em;
	opacity:0;
	transform: translateY(-100%);
	transition: transform .3s, opacity .3s;
}

.gallery-item:hover .gallery-item-title{
	transform: translateY(0);
	opacity: 1;
}

.portfolio .button{
	display:block;
	margin: 60px auto 0;
	color:#f2f2f2;
	background-color:#fc635e;
}

.portfolio .button:hover{
	border:solid 2px #fc645f;
	color:#fc645f;
	background-color:transparent;
}

.portfolio .arrow-white{
	margin-top:25px;
}

.team{
	background-color: #f2f2f2;
	padding-top:54px;
	padding-bottom:10px;
}

.team-members{
	margin-top:72px;
}

.member{
	float:left;
	width:33.33%;
	text-align:center;
}

.member-title{
	font-size: 28px;
	line-height: 26px;
	color:#818181;
	display: block;
	margin-top:26px;
}

.member-position{
	font-size: 20px;
	color:#818181;
	font-weight: 300;
	line-height: 44px;
}

.social-icons{
	display: inline-block;
	margin-top:12px;
}
.icon{
	float:left;
	margin-left:9px;
	margin-right:9px;
}

.icon:first-child{
	background-image: url('../img/twitter.png');
	width:37px;
	height:37px;
}

.icon:nth-child(2){
	background-image: url('../img/facebook.png');
	width:37px;
	height:37px;
}

.icon:nth-child(3){
	background-image: url('../img/insta.png');
	width:37px;
	height:37px;
}

.team .arrow-white{
	margin-top:70px;
}

.ceo{
	padding-top:52px;
}

.ceo-info{
	font-size: 0;
	margin-bottom:75px;
	margin-top: 75px;
}

.ceo .content .ceo-pic img,
.ceo .content img.quotes{
	display: block;
	margin:0 auto;
}

.ceo-text,
.ceo-pic,
.ceo-name{
	display: inline-block;
	height:100%;
}

.ceo-text{
	width:34.043%;
	color:#767676;
	font-size: 15px;
	line-height: 21px;
}

.ceo-pic{
	width:31.914%;
}

.ceo-name{
	width:34.043%;
}

.ceo-arrow-left,
.ceo-arrow-right{
	float:left;
	width:50%;
	padding:0 12px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.ceo-arrow-left img{
	float:right;
}

.ceo-arrow-right img{
	float:left;
}

.map{
	background: url('../img/map.jpg') no-repeat top center;
	background-size:cover;
	height:512px;
	margin-top: 160px;

}

.address-rect{
	background: url('../img/address.png') no-repeat top center;
	height:242px;
	width:210px;
	position: relative;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
    left:50%;
}

.address-rect-text,

.address-rect-name{

	display: block;
	text-align: center;
	padding:0.5em;
	color:#fff;
}

.address-rect-name{
	font-size: 27px;
	font-weight:bold;
}

.address-rect-text{
	font-size: 15px;
}

.footer{
	background: url('../img/footer.jpg') no-repeat top center;
	background-size:cover;
	height:212px;
	text-align: center;
}

.footer .logo_img{
	height: 90px;
	width: 78px;
	background-size: cover;
}

.footer .logo_text{
	font-size: 40px;
}

.footer .logo_img,
.footer .logo_text{
	display: inline-block;
}